<div class="container">
  <div class="row mt-5 ">
    <div class="col-3"></div>
    <p class="msg">SORRY!! THIS PAGE IS UNDER MAINTAINECE</p>
</div>
    <div class="card-group mt-4">
  
        <div class="card">
          <div class="card-img-top" style="width: 200px;height: 200px;">
            <img class="card-img-top"  src="assets/img/trivikram.jpg" alt="Card image">
          </div>
          <div class="card-footer">
            <button type="button" (click)="follow()" class="btn btn-primary">Follow</button> &nbsp; <button style="background-color: red;" class="btn" (click)="unfollow()" type="button" formaction="unfollow.html">Unfollow</button><br>
          </div>
        </div> 
        &nbsp;
         
      <div class="card w-50 h-50">
        <div class="card-img-top" style="width: 200px;height: 200px;">
            <img class="card-img-top"   src="assets/img/trivikram.jpg" alt="Card image">
        </div>
        <div class="card-footer">
          <button type="button" (click)="follow()" class="btn btn-primary  ">Follow</button> &nbsp; <button style="background-color: red;" class="btn" (click)="unfollow()" type="button" formaction="unfollow.html">Unfollow</button><br>
        </div>
      </div>
          &nbsp;
      </div>
</div>

